<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portifolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/5005007e33.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web Project Portifólio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Quemsou","Home")">Quem sou</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Projetos","Home")">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Certificados","Home")">Certificados</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="verificaPermissao('@Url.Action("Login","Home")')" class="nav-link text-dark" href="#">Login</a>
                        </li>
                        @if (Context.Request.Path.Value.ToLower().Contains("quemsou")
                     || Context.Request.Path.Value.ToLower().Contains("certificados")
                     || Context.Request.Path.Value.ToLower().Contains("projeto"))

                        {
                            <li class="nav-item">
                                @Html.DropDownList("usuarios", new SelectList(ListaUsuarios.Usuarios, "Id", "Nome"), new { @style = "width:300px !important", @class = "form-control form-control-sm", @id = "usuarios" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Portifolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy - </a>
            <a href="https://www.linkedin.com" target="_blank"><img src="~/imagens/iconin.png" alt="Icone do Linkedin" style="width: 55px; height:35px"></a>
            <a href="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2021-2-e2-proj-int-t5-portfolio-de-projetos" target="_blank"><img src="~/imagens/giticon.png" alt="Icone do GitHub" style="width: 40px; height:35px"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    function verificaPermissao(url) {
        let text;
        let person = prompt("senha:", "");
        if (person == null || person == "" || person != "1234") {
            alert("Senha inválida");
        } else {
            window.location.href = url;
        }
        document.getElementById("demo").innerHTML = text;
    }

    $().ready(function () {

        $("#usuarios").on("change", function() {

            var url = window.location.href.toLowerCase();
            var posicao = url.indexOf("idusuario");
            var idUsuarioPag = url.substr(posicao + 10);

            if (idUsuarioPag == $(this).val()) return;

            if (window.location.href.toLowerCase().indexOf("quemsou") >= 0) {

                window.location.href = "@Url.Action("QuemSou", "Home")" + "?idUsuario=" + $(this).val();

            } else if (window.location.href.toLowerCase().indexOf("certificados") >= 0) {

                window.location.href = "@Url.Action("Certificados", "Home")" + "?idUsuario=" + $(this).val();

            } else if (window.location.href.toLowerCase().indexOf("projetos") >= 0) {

                window.location.href = "@Url.Action("Projetos", "Home")" + "?idUsuario=" + $(this).val();
            }

        });

    });

</script>